*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    }
a{
    text-decoration: none;
    color: black;
}

body{
    /*background: url(../img/Fondo.jpg);
    background-size: cover;*/
    
}

.con{
    max-width: 1500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}

.contenedor{
    border: solid 2px white;
    max-width: 1000px;
    margin: 150px auto;
    justify-content: space-evenly;
    background-color: #eee;
    border:  solid black;
    border-radius: 10px;
}

header{
    border: 2px solid black;
    padding: 10px;
    border-radius: 9px;
    margin: 20px;
    background-color: #FFC100;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

section{
    border: 2px solid black;
    padding: 10px;
    border-radius: 9px;
    margin: 20px;
    max-height: 120px; 
    background-color: #FFC100;
}

section:hover{
    background-color: rgb(243, 241, 241);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    
}

aside{
    border: solid black;
    padding: 10px;
    border-radius: 9px;
    max-width: 500px;
    margin: 150px auto;
    background-color: #eee;
}

@media all and (max-width:767px){
    aside{
        margin: 0 auto;
    }

    .contenedor{
        margin: 100px auto;
    }
}

@media all and (max-width:500px){
    
    .contenedor{
        margin: 20px auto;
    }
}


table{
    margin: 0 auto;
}


#cerrar-sesion {
    
}
#cerrar-sesion:hover{
    color: #FFC100;
    text-decoration: underline;

}

h1 {
    color: rgb(0, 0, 0);
}

.navegacion {
    background-color: #eee;
    border: solid 2px black;
}

.navegacion h1 {
    padding: 10px;
}

.navegacion{
    display: flex;
    font-size: 17px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
/*.cimarrones{
    width: 50px;
}*/

.navegacion ul {
    display: flex;

}
.navegacion ul li{
    padding: 10px;
}

.navegacion ul li a{
    padding: 2px;
}

.navegacion ul li a:hover{
    border-bottom: 2px solid black;

    
}