*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f5f0f0;
}

/* Barra de Navegación*/

header{
    width: 100%;
    height: 60px;
    background-color: #f6f9fc;
    border: solid black 2px;
    border-color: #2B3A67 ;
    margin: 0;
}

.interior{
    max-width: 100%;
    padding:0;
    margin: 0;
}

/*Imágen del Logo*/

.logo{
    float: left;
    padding: 5px 10px;
}

.logo img{
    height: 40px;
}

.logo img:hover{
    transform: scale(1.1);
}

/*Links de la navegación*/

.navegacion{
    float: right;
    display: flex;
    align-items: center;
    margin: 0;
    min-height: 10px;
    z-index: 1000;
    /*border: solid 1px black;*/
}
.navegacion ul{
    list-style: none;
    padding: 0 10px;
}
.navegacion ul li{
    display: inline-block;
    position: relative;
    margin: 0 -10px; 
    transition: .2s linear;
    z-index: 1000;
   /* border: solid 1px black;*/
}
.navegacion ul li:hover{
    transform: scale(1.1);
}
.navegacion ul li a{
    color: #FFC53A;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    transition: .1s linear;
    padding: 5px 20px ;
    display:grid;
    grid-column: 1;
    /*border: solid 1px black;*/
}
.navegacion ul li a:hover{
    color: #2B3A67;
    transform: scale(1.1);
}

/*Menu desplegable Productos*/

.navegacion ul li:hover .hijos{
    display: block;
}

.navegacion .submenu .hijos{
    display: none;
    background: #fff;
    position: absolute;
    width: 100%;
    border: #2B3A67 solid 2px;
    border-radius:  10px 0 10px 10px;
    margin: 15px -5px; 
}
.navegacion .submenu .hijos li{
    display: block;
    overflow: hidden;
    border-bottom: none;   
}
.navegacion .submenu .hijos li a{
    display: block;
    font-size: 15px;
}
.shop{
    font-size: 25px;
    padding: 0;
    color: #2B3A67;
}
.bienvenida-usuario {

    /*border: solid 1px black;*/
    padding: 15px 0px;
    font-size: 10px;
}

.con{
    max-width: 1500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 60px 10px;
    border: solid 1px black;
    padding: 40px;
}

.contenedor{
    border: solid 2px white;
    max-width: 1000px;
    margin: 50px 300px ;
    justify-content: space-evenly;
    background-color: #eee;
    border:  solid #000000 2px;
    border-radius: 10px;
}

section{
    border: 2px solid black;
    padding: 10px;
    border-radius: 9px;
    margin: 20px;
    max-height: 120px; 
    background-color: #FFC100;
}

section:hover{
    background-color: rgb(243, 241, 241);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    
}

aside{
    border: solid black;
    padding: 10px;
    border-radius: 9px;
    max-width: 500px;
    margin: 150px auto;
    background-color: #eee;
}

@media all and (max-width:767px){
    aside{
        margin: 0 auto;
    }

    .contenedor{
        margin: 100px auto;
    }
}

@media all and (max-width:500px){
    
    .contenedor{
        margin: 20px auto;
    }
}


table{
    margin: 0 auto;
}

h1 {
    color: rgb(0, 0, 0);
}


/*MENU LATERAL*/

:root {
    --width: 300px;
    --padding: 10px;
    --bgcolor: rgb(52, 52, 52);
    --hovercolor: rgb(0, 0, 0);
    --width-collapsed: 50px;
}
 #sidemenu{
    background-color:#f6f9fc;
    color: rgb(0, 0, 0);
    position: fixed;
    height: 100%;
    left: 0px;
    top: 60px;
    border: solid 2px #2B3A67;
    border-top: none;
    padding: 6px;
    
 }

 #sidemenu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
 }
 #sidemenu a:hover{
    color: #FFC100;
    
 }

 #sidemenu .menu-items{
    /*border-bottom: solid 1px #2B3A67;*/
    padding: 40px 10px ;
    margin:20px -8px 20px -8px ;
    text-align: center;
    margin-top: -18px;
    /*border: solid 1px black;*/
 }
 #sidemenu .items{
    
    padding:10px ;
    text-align: center;
    margin-top: -20px;
    /*border: solid 1px black;*/
    margin-left: -20px;
 }
 #sidemenu .menu-gestor{
    /*border-bottom: solid 1px #2B3A67;*/
    padding: 20px 10px ;
    margin:20px -8px 20px -8px ;
    text-align: center;
    margin-top: -18px;
    /*border: solid 1px black;*/
 }
 #sidemenu .item-gestor{
    
    padding:10px ;
    text-align: center;
    margin-top: -50px;
    /*border: solid 1px black;*/
 }




 @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css");

.table {
	background-color: whitesmoke;
    border: #000000 solid 2px;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 100vh;
    display: grid;
}

.row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.row:hover {
	background-color: crimson;
}

.row:nth-child(even) {
	background-color: #dfdfdf;
}

.row:nth-child(even):hover {
	background-color: crimson;
}

.title {
	display: flex;
	justify-content: center;
	background-color: #dfdfdf;
}

.header .row {
	padding: 10px;
	background-color: cornflowerblue;
}

.header .row div {
	display: flex;
	justify-content: center;
	font-weight: 600;
	color: white;
}

.body .row {
	padding: 10px;
	cursor: pointer;
}

.body .row div {
	display: flex;
	justify-content: center;
}

.footer .row {
	padding: 5px;
	background-color: #777777;
}

.footer .row div {
	display: flex;
	justify-content: center;
	color: white;
}

.options {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.page-active {
	color: crimson;
}